*{
	margin: 0;
	padding: 0;
	}
article,aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
} 	

body {
	background: url(../img/comppattern2.png) repeat;
	font: normal 1em 'OpenSans-Semibold';
	color: #54595a;
}
/*flexible media*/

img {
	max-width: 100%;
	height: auto;
}
ul li {
	list-style: none;
}
/*end flexible media*/
.wrap {
	/*display: flex;*/
	max-width: 1020px;
	height: auto;
	width: 100%;
	margin: 0 auto;
	border: 1px solid grey;

}
/*прибить футер к низу*/

.wrap:after {
	content: "";
	height: 270px;
	display: block;
}
.page-footer {
		
	height: auto;
	margin-top: -270px;
	/*линия+фон+шрифт футер*/
	background: #958f80;
	font-family: 'fira_sanslight';
	color: #e8e9e5;
	
}
/*прибить футер к низу - конец*/
.main {

	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
	display: flex;
	/* flex-direction: row; */
	/* height: 500px;  */
	max-width: 1000px;
	margin: auto; 
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	flex-flow: row wrap;
	border: 1px solid green;
	
}
/* headr */
.head {
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
	display: flex;
	/* flex-direction: row; */
	/* height: 500px;  */
	max-width: 1000px;
	
	align-items: stretch;
	align-content: stretch;
	flex-flow: row wrap;
	border: 1px solid green;
}
.header-logo-link {

	/* flex-basis: 21.5%; */
	/* align-self: start; */
	/* float: left;
	height: auto;
	width: 20.5%; */
	border: 1px solid #958f80; 
}
.header-logo-text {
	position: absolute;
	left: 9999px;
}
/* .logo-img {
	margin-top: 5px;
	/* height: 23.6%;  
}*/
.page__header {
	/* display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
	display: flex;
	
	max-width: 1000px;
	
	align-items: stretch;
	align-content: stretch;
	flex-flow: column wrap;
	border: 1px solid green; */
	/* flex-direction: row; */
	/* height: 500px;  */
}
.page__header-top-item {
	/* background-color: #34f567; */
	flex-basis: 30px;
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	/* max-width: 755px; */
	/* flex-direction: row; */
	/* height: 500px;  */
	/* align-items: stretch;
	align-content: stretch; */
	justify-content: space-between;
	margin-top: 10px;
}
.page__header-top {

}

	

.header-top-item p {
	color: #006a52;
	font-size: 1.25em;
	padding-left: 12%;
}
.search__form-input {
	border: 2px solid #abb6b8;
	padding: 8px 15px;

	width: 88%;
	margin-right: -42px;
	font-family: 'OpenSans-Regular';
	font-size: 0.937em;
}	
.search__form-submit {
	width: 10%;
	background: #fff url(../img/search.png) top center no-repeat;
	color: #ffffff;
	border: 0 none;
	vertical-align: middle;
}	
.page-header .socials{
	position: absolute;
	right: 0;
	top: 36px;
}


.header-top-item {
	display: inline-block;
}
.search {
	margin-left: 13.9%;
	flex-grow: 3;
	flex-basis: 32%;
}
.registr {
	margin-left: 28px;
}
.header__registr {
	border: 2px solid #a39e91;
	flex-grow: 1;
	width: 101.6%;
	text-align: center;
	height: 28px;
	padding-top: 9px;
	background-color: #958f80;
	color: #fff;
	font-family: 'OpenSans-Regular';
	font-size: 1em;
}
.page__header-bottom {/* 
	background-color: #a46780; */
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	/* max-width: 755px; */
	/* flex-direction: row; */
	/* height: 500px;  */
	/* align-items: stretch;
	align-content: stretch; */
	justify-content: flex-end;
	margin: 15px 22px;
}
.header-top-item a {
	text-decoration: none;
	color: #fff;
}
.header-top-item a:hover {
	text-decoration: underline; 
	color: #fff; 
}
.line-top {
	display: inline-block;
	border-top: 2px solid #e2ddc7;
	height: 2px;
	width: 76.31%; 
	/* flex-basis: 76.31%; */
	margin-top: 10px;
	float: right;
}
.item-left {
	flex-basis: 19.69%;
	flex-grow: 1;
	/* width: 19.69%; */
	height: auto;
	line-height: 1.5em;
	font-family: 'OpenSans-Bold';
	font-size: 1.5em;
	color: #c6a419;
	margin: 0;

}

.item-right{
	flex-basis: 67.56%;
	flex-grow: 2;
	/* width: 67.56%; */
	height: auto; 
	/* padding: 4px 29px 0 0; */
	padding: 10px 0 0 10px;
	margin: 0;
	font-family: 'OpenSans-Regular';
	/* font-size: 0.875em; */
}
.header-bottom {
	margin: 0;
	padding: 0 36px 0 0;
	float: right;
	font-family: 'OpenSans-Italic';
	font-size: 0.9em;
	color: #c6a419; 
}
.line-bottom {
	display: inline-block;
	border-top: 2px solid #e2ddc7;
	height: 2px;
	width: 97%;
	float: right;
	/* margin-top: 84px; */
}	
/*clearfix*/
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
} 
/*End Header*/

.bl {
	
	/* height: 100px; */
	border: 2px solid red;
	/* flex-basis: 500px;
	flex-grow:1;
	flex-shrink: 1; */
	/* flex: 1 1 220px; */
	/* width: 250px; */
	/* margin: 20px; */
	text-align: center;
}

/* .fl1 {background: #7cd2dd; flex-basis: 100%;}  *//* шапка */

.fl2 {background: #95d051; flex-basis: 21.91%;} /* сайдбар */ 	
/* .fl3 {
	background: #eb9e65;
	flex-basis: 58.72%;
	flex-grow: 2; 
	align-self: flex-start;
	margin-left: 20px;
}	
.fl4 {background: #d051d0; flex-basis:58.72%; flex-grow: 2; */ 	
.fl5 {background: #2f226e; flex-basis: 100%;} /* подвал */	
.fl6 { /* контент */
	background: #eee;
 	flex-basis: 58.72%;
  	flex-grow: 2;}	
.fl7 {background: #; flex-basis: 21.8%; justify-content: flex-start;}	/* logo */
.fl8 {background: #yellow; flex-basis: 77.7%;} /* header bez logo */	
nav ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-left: 24px;
}
nav ul li {
	width: 23.7%;
	/* max-height: 59px; */
	border: 1px solid grey;

}
aside ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column wrap;
}
aside ul li {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	/* max-width: 100%; */
	border: 1px solid blue;
	margin-bottom: 20px;
	height: 59px;
}
aside ul li a {
	margin-left: 10px;
}
section {
	margin-left: 25px;
}
ul.images {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 10px;
}
ul.images {

}
ul.images li {
	max-width: 48.8681%;
	margin-bottom: 20px;
}
ul.images li h2 {
	width: 196px;
	font-size: 1.25em;
	margin: 10px 0;
	text-align: start;
}
/* ul.images li p {
	width: 196px;
	font-size: 1.25em;
} */
ul.images li img {
	/* max-width: 48.86%; */
	border: 1px solid #e2ddc7;
}
nav.fl3 {
	/* display: none; */
}
.novos__item {
	text-align: start;
}
