*{
	margin: 0;
	padding: 0;
	}
article,aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
} 	

body {
	/* background: url(../img/comppattern2.png) repeat; */
	font: normal 1em 'OpenSans-Semibold';
	color: #54595a;
}
/*flexible media*/

img {
	max-width: 100%;
	height: auto;
}
ul li {
	list-style: none;
}
/*end flexible media*/
.wrap {
	/*display: flex;*/
	max-width: 1020px;
	height: auto;
	width: 100%;
	margin: 0 auto;
	border: 1px solid grey;

}
/*прибить футер к низу*/

/* .wrap:after {
	content: "";
	height: 270px;
	display: block;
.page-footer {
		
	height: auto;
	margin-top: -270px;
	
	background: #958f80;
	font-family: 'fira_sanslight';
	color: #e8e9e5;
	
/*прибить футер к низу - конец*/
.main {

	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
	display: flex;
	/* max-width: 1000px; */
	width: 98%;
	margin: auto; 
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	flex-flow: row wrap;
	border: 1px solid green;
	
}
/* headr */
.head {
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
	display: flex;
	
	/* max-width: 1000px; */
	
	align-items: stretch;
	align-content: stretch;
	flex-flow: row wrap;
	border: 1px solid green;
}
.header-logo-link {

	
	border: 1px solid #958f80; 
}
.header-logo-text {
	position: absolute;
	left: 9999px;
	 display: none ; /* Разобраться ы дальнейшем */
}
/* .logo-img {
	margin-top: 5px;
	/* height: 23.6%;  
}*/
.page__header {
	
}
.page__header-top-item {
	
	/* flex-basis: 30px; */
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 10px;
}
.page__header-top {

}

	

.header-top-item p {
	color: #006a52;
	font-size: 1.25em;
	padding-left: 12%;
}
.search__form-input {
	border: 2px solid #abb6b8;
	padding: 8px 15px;
	width: 88%;
	margin-right: -41px;
	font-family: 'OpenSans-Regular';
	font-size: 0.937em;
	position: relative;
}	
.search__form-submit {
	width: 35px;
	background: #fff url(../img/search.png) top center no-repeat;
	color: #ffffff;
	border: 0 none;
	vertical-align: middle;
	position: absolute;
	margin-top: 7px;
}	
.page-header .socials{
	position: absolute;
	right: 0;
	top: 36px;
}


.header-top-item {
	display: inline-block;
}
.search {
	margin-left: 13.9%;
	flex-grow: 3;
	/* flex-basis: 32%; */
	width: 32%;
}
.registr {
	margin-left: 28px;
}
.header__registr {
	border: 2px solid #a39e91;
	flex-grow: 1;
	width: 101.6%;
	text-align: center;
	height: 28px;
	padding-top: 9px;
	background-color: #958f80;
	color: #fff;
	font-family: 'OpenSans-Regular';
	font-size: 1em;
}
.page__header-bottom {/* 
	background-color: #a46780; */
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	margin: 15px 22px;
}
.header-top-item a {
	text-decoration: none;
	color: #fff;
}
.header-top-item a:hover {
	text-decoration: underline; 
	color: #fff; 
}
.line-top {
	display: inline-block;
	border-top: 2px solid #e2ddc7;
	height: 2px;
	width: 76.31%; 
	
	margin-top: 10px;
	float: right;
}
.item-left {
	/* flex-basis: 19.69%; */
	width: 19.69%;
	flex-grow: 1;
	
	height: auto;
	line-height: 1.5em;
	font-family: 'OpenSans-Bold';
	font-size: 1.5em;
	color: #c6a419;
	margin: 0;

}

.item-right{
	/* flex-basis: 67.56%; */
	width: 67.56%;
	flex-grow: 2;
	
	height: auto; 
	/* padding: 4px 29px 0 0; */
	padding: 10px 0 0 10px;
	margin-left: 60px;
	font-family: 'OpenSans-Regular';
	/* font-size: 0.875em; */
}
.header-bottom {
	margin: 0;
	padding: 0 36px 0 0;
	float: right;
	font-family: 'OpenSans-Italic';
	font-size: 0.9em;
	color: #c6a419; 
}
.line-bottom {
	display: inline-block;
	border-top: 2px solid #e2ddc7;
	height: 2px;
	width: 97%;
	float: right;
	/* margin-top: 84px; */
}	
/*clearfix*/
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
} 
/*End Header*/

.bl {
	
	
	border: 2px solid red;
	
	text-align: center;
}

/* .fl1 {background: #7cd2dd; flex-basis: 100%;}  *//* шапка */

.fl2 {background: #95d051;
	 /* flex-basis: 21.91%; */
	 width: 21.91%;
	} /* сайдбар */ 	
/* .fl3 {
	background: #eb9e65;
	flex-basis: 58.72%;
	flex-grow: 2; 
	align-self: flex-start;
	margin-left: 20px;
}	
.fl4 {background: #d051d0; flex-basis:58.72%; flex-grow: 2; */ 	
.fl5 {/* background: #2f226e; */background: #958f80;
	font-family: 'fira_sanslight';
	color: #e8e9e5; 
	/* flex-basis: 100%; */
	width: 100%;
	} /* подвал */	
.fl6 { /* контент */
	background: #eee;
 	/* flex-basis: 58.72%; */
 	width: 58.71%;
  	flex-grow: 2;}	
.fl7 {/* background: #; flex-basis: 21.8%;  */width: 21.8%;/* justify-content: flex-start; */}	/* logo */
.fl8 {/* background: #yellow; flex-basis: 77.7%; */ width: 77.7%} /* header bez logo */	



/* sidbar */
.sidbar {
	float: left;
	width: 22%;
}
.navigation {
	overflow: hidden;/*чтобы при заливки скругление углов не пропадало*/
	background: #fafcfa;
	
	margin-bottom: 26px;/*отступ сверху "от линии"*/
	
}
.navigation .navigation-list {
list-style: none;/*убирает точки слево перед ссылкой*/
margin: 0;
padding: 0;
}
.navigation .navigation-item {
	border: 1px solid #3ba8c0;
	margin-bottom: 12px;
	height: 85px;
	display: table;
	position: relative;
	overflow: hidden;
	width: 100%;
	text-align: start;
}
.navigation .navigation-item:first-child {
	border-top: none;
}
/*Навигация текущий пункт меню*/
.navigation .navigation-item.current {
	background: #fafcfa;
	border: 1px solid #9adbc7;
}
.navigation .navigation-item.current .navigation-link {
	color: #006a5a; /*Меняет цвет текста*/
	font-size: 22px; 
	}
/*Конец текущий пункт меню*/
.navigation .navigation-link {
	font-family: 'OpenSans-Regular';
	display: table-cell;
	vertical-align: middle;
	font-size: 18px;
	text-decoration: none;
	color: #fafcfa;
	padding: 20px 16px;
	line-height: 1em;
	max-width: 165px;
}
.navigation .navigation-link:hover {
	/*color: #3ba8c0;*/
	color: #9adbc7;
}
.ohran {
	background: #958f80;
}
.pogar {
	background: #00985e;
}
.vid {
	background: #c6a419;
}
.kontrd {
	background: #dd9166
}
.dopmat {
	background: #54595a;
}

section {
	margin-left: 25px;
}



ul.images {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 10px;
}
ul.images {

}
ul.images li {
	max-width: 48.8681%;
	margin-bottom: 20px;
}
ul.images li h2 {
	width: 205px;
	font-size: 1.25em;
	margin: 10px 0;
	text-align: start;
}
/* ul.images li p {
	width: 196px;
	font-size: 1.25em;
} */
ul.images li img {
	/* max-width: 48.86%; */
	border: 1px solid #e2ddc7;
}
nav.fl3 {
	/* display: none; */
}
.novos__item {
	text-align: start;
}
.kont {
	width: 78%
}
/* footer start */
.main__footer {
	max-width: 1000px;
	margin: auto;
	border: 1px solid pink;
}
	.header-logo-footer {
	float: left;
	border: 1px solid #b58d28;
	/* flex-basis: 10%; */
	width: 10%;
	/*height: 232px; настроечная*/ 
}
/* .logo-img-footer {
	width: 102px;
	height: 109px;
} */
.copyright {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
/* .copyright-item {
	display: inline-block;
} */
.copyr {
	display: block;
	width: 16px;
    height: 15px;
	text-indent: -9999px; /*Прячим текст с помощью отрицательного отступа*/
	background: url(../img/spritesheet1.png) no-repeat;
	background-position: -5px -5px;
}
.footer-top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 15px;
	
}
.footer-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	border: 3px solid #c6a419;
	
}
.footer-line {
	/* float: left; */
	margin: 14px 60px;
	height: 148px;
	border: 1px solid #ddd8c3;
}
.footer-text {
	font-family: 'OpenSans-Regular';
	float: left;
	margin: 0;
	padding: 0;
	width: 479px;
	border: 1px solid green;
	font-size: 14px;
	margin-left: 50px;
}
h4 {
	margin: 0;
}
/*Блок социальных иконок*/
.socials {
	margin: 0;
	padding: 0;
	/* min-width: 176px;
	float: right; */
}
.socials .socials-item {
	list-style: none;
	display: inline-block;
	height: 26px;
	width: 26px;
}	
.socials .socials-item:first-child {
	margin-left: 0;
	/*У первого элемента обнуляем отступ*/
}
.socials .socials-link {
	display: block;
	height: 100%;
	width: 100%;
	text-indent: -9999px; /*Прячим текст с помощью отрицательного отступа*/
	background: url(../img/spritesheet2.png) no-repeat;

    /*background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;*/

}
.socials-item .fb {
	background-position: -5px -5px;
}
.socials-item .tw {
	background-position: -5px -77px;
}
.socials-item .vk {
	background-position: -77px -77px;
}
.socials-item .ok {
	background-position: -41px -41px;
}
.socials-item .googl {
	background-position: -77px -5px;
}
.socials-item .ut {
	background-position: -113px -41px;
}
.socials-item .vk:hover {
	background-position: -113px -5px;
}
.socials-item .tw:hover {
	background-position: -41px -77px;
}
.socials-item .fb:hover {
	 background-position: -41px -5px;
}
.socials-item .googl:hover {
	background-position: -5px -41px;
}
.socials-item .ok:hover {
	background-position: -77px -41px;
}
.socials-item .ut:hover {
	background-position: -113px -77px;
}
/*.socials .socials-link-vk {background-position: -10px - 
/*Конец блока соцыальных иконок*/
/*Контакты*/
.contacts {
	float: right;
	
	margin-top: 30px;
	/*background: #eff3f7;*/
	font-style: normal;
}
.contacts .contacts-list {
	list-style: none;/*убирает точки слево перед ссылкой*/
	font-family: 'OpenSans-Semibold';
	float: right;
}

.contacts .contacts-link {
	/*font-family: 'fira_sansbook';*/
	color: #e8e9e5;
	display: block;
	text-decoration: none;/*Убирает*/
	background: url(../img/mail1.png) left center no-repeat;
	text-align: right;
	padding-left: 34px;
	margin-left: 12px;
}
.contacts .post {
		/*background: #41b9d4;*/
		padding-top: 9px;
}

.contacts .tell {
	/*background: #48cbe8;
	/*text-align: center;*/
}
.contacts .contacts-tell {
	background: url(../img/tel.png) left center no-repeat;
	display: block;
	margin-left: 43px;
	color: #e8e9e5;
	/*padding-top: 9px;*/
	text-align: right;
	text-decoration: none;
	height: 26px;
}



.contacts .contacts-skype {
	display: block;
	text-decoration: none;
	background: url(../img/skype.png) left center no-repeat;
	margin-left: 74px;
	color: #e8e9e5;
	margin-top: 13px;
	text-align: right;
} 
.footer-disiner {
	color: #006b5a;
	clear: both;
	float: right;
	font-family: 'OpenSans-LightItalic';
	font-family: 14px;
}
.footer-help {
	width: 182px;
	height: 30px;
	background-color: #f5e7b2;
	color: #54595a;
	font-size: 16px;
	padding-bottom: 3px;

}
/*Конец контакты*/
/* footer end */
@media only screen and (max-width : 880px) {
	.search {
		order: 1;
		margin-top: 20px;
	}
	.footer-content {
		justify-content: flex-end;
	}

}
@media only screen and (max-width : 800px) {
	.kont {
		width: 100%;
	}

}
@media only screen and (max-width : 670px){
	.header-logo-link {
		display: none;
	}
	.page__header {
		margin: 0 auto;
	}
	.fl8 {
		/* flex-basis: 100%; */
		width: 100%;
	}
}
@media only screen and (max-width : 500px){
	.line-top {
		display: none;
	}
	.page__header-bottom {
		display: none;
	}
	.line-bottom {
		display: none;
	}
	.page__header-top {
		margin-bottom: 20px;
	}
	.header-top-item  {
		font-size: 3vw;
	}
	.search__form-submit {
		height: 20px;
	}
	ul.images {
		flex: none;
	}
	ul.images li {
		max-width: 100%;
	}
	.footer-top {
		justify-content: flex-end;
	}
	.footer-text {
		display: none;
	}
	.footer-line {
		display: none;
	}

}