#menu-icon {

	border-bottom: 17px double black; 
    border-top: 6px solid black; 
    content:"";
    height: 5px; 
    width:30px;
    display: inline-block;
    margin-left: 20px;
}
a.menu-triger {
	display: none;
}
a.topmenu {
	display: none;
}

#menu-icon:hover {

	/* background-color: #444; */
	border-radius: 4px;

}
.top-menu a {
	float: right;
}



/*MEDIA QUERY*/
@media only screen and (max-width : 760px) {

	a.menu-triger {
		display: block;

	}
	a.topmenu {
	display: block;
}
	.navigation {
		width: 48%;
		position: absolute;
	}
	.navigation-list {
		display: none;
	}
	
	.top-list {
		display: none;
	}
	.top-menu {
		width: 75%;
		}
	.top-menu ul.top-list li.menu__items {
		position: absolute;
	
	}
	.top-list1 {
	clear: both;
	float: right;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	/* justify-content: space-between; */
	align-items: stretch;
	align-content: center;
	width: 178px;
	}
	.top-menu ul.top-list1 li.menu__items {
	/* display: inline-block;
	max-width: 178px;
	/*border: 1px solid #000;*/ 
	background-color: #e2ddc7;
	position: relative;
	/* width: 23.7%; */
	/* max-height: 59px; */
	border: 1px solid grey;
	margin-top: 10px;
	}
.top-menu ul.top-list1 li a {
	display: table-cell;
	text-decoration: none;
	font-family: 'OpenSans-Regular';
	font-size: 15px;
	line-height: 1em;
	padding: 0px 21px;
	text-align: left;
	color: #6d706c;
	width: 137px;
	height: 59px;
	vertical-align: middle;
	}
	.top-menu ul.top-list1 li:hover {
	background-color: #fafcfa;
	border: 1px solid #9adbc7;
	position: relative;
}
.top-menu ul.top-list1 li a:hover {
	color: #2E6A5A;
	/*font-size: 17px;*/
}
.top-list1 ul {
	list-style: none;
	position: absolute;
	left: -9999px;
	opacity: 0;
	-webkit - transition: 0.25s linear opacity;
}
 
.top-list1 ul li {
	padding-top: 1px;
	/*display: block;*/
	float: none;
	background: url(../img/dot.png);
	/*border: 1px solid #000;*/
	max-width: 178px;
	position: relative;
	z-index: 1000;
}
.top-list1 li:hover ul {
	left: 0px;
	opacity: 1;
}
.top-list1 li:hover ul a {
	text-decoration: none;
	-webki-trasition: -webkit-transform 0.075s lianer;
	background-color: #e2ddc7;
	font-size: 13px;
}
.top-list1 li:hover ul li a:hover {
	background-color: #fafcfa;
	border: 1px solid #9adbc7;
	width: 135px;

	/*background: rgba(51, 51, 51, 0.75);*/
	text-decoration: underline;
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
}

}
	
