*{
	margin: 0;
	padding: 0;
	
}
body {
	font: 100%/1.5em Arial,Helvetica, sans-serif;
	color: #000;
}
/*flexible media*/

img {
	max-width: 100%;
	height: auto;
}
ul li {
	list-style: none;
}
/*end flexible media*/
.wrap {
	/*display: flex;*/
	max-width: 1020px;
	height: auto;
	width: 100%;
	margin: 0 auto;
	border: 1px solid grey;

}
header ul {

	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
	display: flex;
	/* flex-direction: row; */
	/* height: 500px;  */
	max-width: 1000px;
	margin: 20px auto; 
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	flex-flow: row wrap;
	border: 1px solid green;
	
}
.item__header {
	
	/* height: 100px; */
	border: 2px solid red;
	/* flex-basis: 500px;
	flex-grow:1;
	flex-shrink: 1; */
	flex: 1 1 220px;
	/* width: 250px; */
	margin: 20px;
	text-align: center;
}
.fl1 {background: #7cd2dd; order:5; flex-basis: 320px;}
.fl2 {background: #95d051; order:3; flex-basis: 150px;}	
.fl3 {background: #eb9e65; order:2; flex-basis: 100%;}	
.fl4 {background: #d051d0; order:0; flex-basis: 100%;}	
.fl5 {background: #2f226e; order:6; flex-basis: 320px;}	
.fl6 {background: #eee; order:4; flex-basis: 400px; flex-grow: 3;}	
/* .fl7 {background: #;}	
.fl8 {background: #;} */	





